* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.15s cubic-bezier(.5, 0, .6, 1.12);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  /* background: linear-gradient(135deg, #272c38 0%, #131416 100%); */
  background-image: linear-gradient(rgb(24, 24, 27), rgb(0, 0, 0));
  color: hsl(0, 5%, 78%);
}

.top{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  min-width: 50%;
  min-height: 50%;
  border-radius: 1rem;
  background: linear-gradient(135deg, #2d3138 0%, #191a1d 100%);
  box-shadow: 2px 2px 5px hsl(0, 0%, 0%, 0.5);
  padding: 2rem;
  margin: 2rem 0;
  gap: 15px;
  position: relative;
}

.icon-top {
  font-size: 5rem;
  font-weight: bolder;
}

.weatherForm {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  width: 100%;
  gap: 10px;
}

.weatherForm input[type=text]{
  width: 80%;
  margin-top: 0.5rem;
  padding: 0.5rem;
  padding-left: 50px;
  border-radius: 0.5rem;
  background-color: rgba(39, 39, 42, .5);
  box-shadow: inset 0 1px 3px rgba(30, 29, 29, 0.1);
}

.input-icon-wrapper {
  position: relative;
  border-color: #f7f7f8;
  width: 100%;
  display: flex;
    align-items: center;
    justify-content: center;
}

.input-icon-wrapper i.bi-search {
  position: absolute;
  left: 13%;
  top: 53%;
  transform: translateY(-50%);
  color: #b7b8bd;
  font-size: 1.5rem;
  z-index: 2;
}

.input-icon-wrapper .city-input {
  width: 100%;
  padding-left: 3rem;
  font-size: 1.25rem;
  border-radius: 0.7rem;
  border: 2px solid #727274;
  background: #191a1d;
  color: #f7f7f8;
  height: 3.2rem;
  font-weight: 500;
}

.input-icon-wrapper .city-input::placeholder {
  color: #b7b8bd;
  opacity: 1;
  font-weight: 400;
}

.bi {
  margin-right: 0.5em;
}

button[type=submit]{
  width: 80%;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.7rem;;
  background: #4a6fa5;
  border-color: rgb(63 63 70/var(--tw-border-opacity, 1));
  font-size: 1.25rem;
  font-weight: 500;
  min-height: 3.2rem;
  cursor: pointer;
}

button[type=submit]:hover {
  background: #5f789d;
}

button[type=submit]:active {
  transform:translate(1rem);
}

.error {
  /* position: absolute;
    top: 30%;
    left: 50%;
  display: none;
    text-align: center;
  transform: translateX(-50%);
    transition: 0.15s;
  width: 50%;
  height: auto;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  background: linear-gradient(135deg, #2d3138 0%, #191a1d 100%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 100; */
  display: none;
}

.errorDisplay {
  color: hsl(0, 71%, 46%);
  font-size: 1rem;
  font-weight:500;
  margin: 0;
}

.current-container {
  display: none;
    flex-direction: column;
    justify-content: center;
  min-width: 50%;
  min-height: 25%;
  border-radius: 1rem;
  background: linear-gradient(135deg, #2d3138 0%, #191a1d 100%);
  backdrop-filter: blur(10px);
  box-shadow: 2px 2px 5px hsl(0, 0%, 0%, 0.5);
  padding: 1rem 0.5rem;
  margin: 1rem 0;
}

.current {
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  width: 100%;
  padding: 0 10px;
}

.current-temp, .current-condition {
  display: flex;
    flex-direction: column;
}

.temperature {
  font-size: 3rem;
  font-weight: 300;
}

.location {
  margin-bottom: 1rem;
}

.conditions, .wind-speed, .humid, .precipitation, .time {
  color: rgb(115, 118, 118);
}

.weather-icon {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-right: 5px;
}

.conditions {
  display: flex;
  align-items: center;
}

.bot {
  display: none;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
  position: relative;
  min-width: 50%;
  width: 50%;
  min-height: 25%;
  border-radius: 1rem;
  background: linear-gradient(135deg, #2d3138 0%, #191a1d 100%);
  box-shadow: 2px 2px 5px hsl(0, 0%, 0%, 0.5);
  padding: 1rem 0.5rem;
  margin: 1rem 0;
}

.scroll{
  display: flex;
    flex-direction: row;
  overflow-x: scroll;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For IE and Edge */
  width: 100%;
  padding: 1rem 0;
  gap:0.5rem;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.cards {
  display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  min-width: 80px;
  padding: 0.75rem;
  border-radius: 0.8rem;
  background: linear-gradient(135deg, #424c5d 0%, #191a1d 100%);
  box-shadow: 0 4px 6px hsl(0, 0%, 0%, 0.1);
}

.cards:hover {
  transform: translateY(-5px);
}

.cards .conditions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

.temperature-bot {
  font-size: 1.25rem;
  font-weight: 300;
  padding: 5px 0;
}

.time {
  color: #4a6fa5;
  font-weight: 600;
}

@media (max-width: 700px) {

  .top,
  .current-container,
  .bot {
    min-width: 96vw;
    padding: 1.1rem 0.5rem;
  }

  .input-icon-wrapper,
    button[type=submit],
    .btn {
      width: 100%;
      min-width: 160px;
  }

  .current {
    flex-direction: column;
    gap: 0.8rem;
  }

  .cards {
    min-width: 80px;
    padding: 0.8rem;
  }

  .temperature {
    font-size: 2.5rem;
  }
}
