* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.2s ease;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  background: linear-gradient(135deg, #272c38 0%, #131416 100%);
  color: hsl(0, 0%, 100%);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  min-width: 50%;
  min-height: 50%;
  border-radius: 1rem;
  background: linear-gradient(135deg, #2d3138 0%, #191a1d 100%);
  box-shadow: 2px 2px 5px hsl(0, 0%, 0%, 0.5);
  padding: 2rem;
  margin: 2rem 0;
  position: relative;
}

.weatherForm {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.weatherForm input[type=text]{
  width: 50%;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

button[type=submit]{
  width: 50%;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background: #4a6fa5;
  cursor: pointer;
}

button[type=submit]:hover {
  background: #5f789d;
}

button[type=submit]:active {
  transform:translate(1rem);
}

.error {
  position: absolute;
    top: 30%;
    left: 50%;
  display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
  transform: translateX(-50%);
    transition: 1s;
  width: 50%;
  height: 50%;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  background: linear-gradient(90deg,
        hsla(0, 53%, 72%, 1),
        hsla(39, 65%, 61%, 0.25));
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.errorDisplay {
  color: hsla(0, 7%, 5%, 0.75);
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.current-container {
  display: none;
    flex-direction: column;
    justify-content: center;
  min-width: 50%;
  min-height: 25%;
  border-radius: 1rem;
  background: linear-gradient(135deg, #2d3138 0%, #191a1d 100%);
  backdrop-filter: blur(10px);
  box-shadow: 2px 2px 5px hsl(0, 0%, 0%, 0.5);
  padding: 1rem 0.5rem;
  margin: 1rem 0;
}

.current {
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  width: 100%;
  padding: 0 10px;
}

.current-temp, .current-condition {
  display: flex;
    flex-direction: column;
}

.temperature {
  font-size: 3rem;
  font-weight: 300;
}

.location {
  margin-bottom: 1rem;
}

.conditions {
  color: rgb(191, 194, 197);
}

.bot {
  display: none;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
  position: relative;
  min-width: 50%;
  width: 50%;
  min-height: 25%;
  border-radius: 1rem;
  background: linear-gradient(135deg, #2d3138 0%, #191a1d 100%);
  box-shadow: 2px 2px 5px hsl(0, 0%, 0%, 0.5);
  padding: 1rem 0.5rem;
  margin: 1rem 0;
}

.scroll{
  display: flex;
    flex-direction: row;
  overflow-x: scroll;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For IE and Edge */
  width: 100%;
  padding: 1rem 0;
  gap:0.5rem;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.cards {
  display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

  min-width: 80px;
  padding: 1rem;
  border-radius: 0.8rem;
  background: linear-gradient(135deg, #424c5d 0%, #191a1d 100%);
  box-shadow: 0 4px 6px hsl(0, 0%, 0%, 0.1);
  /* position: absolute; */
}

.cards:hover {
  transform: translateY(-5px);
}

.temperature-bot {
  font-size: 1.5rem;
  font-weight: 300;
}

.time {
  color: #4a6fa5;
  font-weight: 600;
}
